hr {
    border: none;
    color: #2d1f1f;
    background-color: #2d1f1f;
    height: 1px;
    margin-top: 0.5rem;
}

.btn-todo {
    color: #2d1f1f;
    padding: 0;
    margin-left: 0.5rem;
    font-size: 1rem;
}

.btn-todo:hover {
    color: #2d1f1f;
    text-decoration: none;
}

.btn-todo-complete {
    cursor: default !important;
}

.card-title {
    margin-bottom: 0;
}

.tag {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.tag-list {
    display: inline-block;
    padding: 0.35em 0.5em;
    margin-right: 0.25em;
    margin-bottom: 0.5em;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.5rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.tag-secondary {
    color: #fff;
    background-color: #839496;
}

.tag-todos {
    color: #fff;
    background-color: #a9b2b3
}

.todo-trash h4,
.todo-trash p {
    text-decoration: line-through;
}
