hr {
    border: none;
    color: #fff;
    background-color: #fff;
    height: 1px;
    margin-top: 0.5rem;
}

.card-title {
    margin-bottom: 0;
}

.tag-list {
    display: inline-block;
    padding: 0.35em 0.5em;
    margin-right: 0.25em;
    margin-bottom: 0.5em;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.5rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.tag-secondary {
    color: #fff;
    background-color: #839496;
}
