{% extends "layout.html" %}

{% block title %}
    Add tag
{% endblock %}

{% block main %}
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h3>New Tag</h3>
            <form action="/add-tag" method="post">
                <div class="form-group">
                    <input autocomplete="off" autofocus class="form-control" name="tag_name" placeholder="Tag name" type="text">
                </div>
                <button class="btn btn-primary" type="submit">Add</button>
            </form>
        </div>
    </div>
{% endblock %}
