{% extends "layout.html" %}

{% block title %}
    Add list
{% endblock %}

{% block main %}
    <h3>New List</h3>
    <form action="/add-list" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="title" placeholder="Title" type="text">
        </div>
        <div class="form-group">
            <textarea class="form-control" id="description" name="description" placeholder="Description" rows="3"></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Add</button>
    </form>
{% endblock %}
