{% extends "layout.html" %}

{% block title %}
    All todos
{% endblock %}

{% block main %}
    <div class="row justify-content-md-center">
        <div class="col-lg-8">
            <div class="bs-component">
                {% for todo in todos %}
                    <div class="card text-white bg-secondary mb-3">
                        <div class="card-body">
                            <h4 class="card-title">{{ todo["title"] }}</h4>
                            {% if todo["description"] is defined and todo["description"]|length %}
                                <hr>
                                <p class="card-text">
                                    {% set lines = todo["description"].split('\n') %}
                                    {% for line in lines %}
                                        {{ line }} <br>
                                    {% endfor %}
                                </p>
                            {% endif %}
                            {% if todo["tags"]|length %}
                                <div class="bs-component">
                                    {% for tag in todo["tags"] %}
                                        <a href="/todos/tag/{{ tag["id"] }}"><span class="tag tag-todos">{{ tag["tag_name"] }}</span></a>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
