{% extends "layout.html" %}

{% block title %}
    All todos
{% endblock %}

{% block main %}
    <div class="row justify-content-md-center">
        <div class="col-lg-8">
            <div class="bs-component">
                {% for todo in todos %}
                    {% if todo["trash"] %}
                    <div class="card text-white bg-secondary todo-trash mb-3">
                    {% else %}
                    <div class="card text-white bg-secondary mb-3">
                    {% endif %}
                        <div class="card-body">
                            <div class="row">
                                <div class="col-auto mr-auto">
                                    <h4 class="card-title">{{ todo["title"] }}</h4>
                                    {% if not todo["list_title"] == None %}
                                    <h6 class="card-title"><a class="todo-list-link" href="/todos/list/{{ todo["list_id"] }}">{{ todo["list_title"] }}</a></h6>
                                    {% endif %}
                                </div>
                                <div class="col-auto">
                                    <form method="post">
                                        <input type="hidden" id="todo-id" name="todo-id" value="{{ todo["id"] }}">
                                        {% if todo["complete"] %}
                                            <button class="btn btn-lg btn-todo btn-todo-complete" disabled="disabled">
                                                <span class="fa fa-check-square-o"></span>
                                            </button>
                                        {% else %}
                                            <button class="btn btn-lg btn-todo" type="submit" formaction="/complete">
                                                <span class="fa fa-check"></span>
                                            </button>
                                        {% endif %}
                                        <button class="btn btn-lg btn-todo">
                                            <span class="fa fa-pencil"></span>
                                        </button>
                                        {% if todo["trash"] %}
                                            <button class="btn btn-lg btn-todo">
                                                <span class="fa fa-undo"></span>
                                            </button>
                                        {% else %}
                                            <button class="btn btn-lg btn-todo" type="submit" formaction="/trash">
                                                <span class="fa fa-trash-o"></span>
                                            </button>
                                        {% endif %}
                                    </form>
                                </div>
                            </div>
                            {% if (todo["description"] is defined and todo["description"]|length) or (todo["tags"]|length) %}
                                <hr>
                            {% endif %}
                            {% if todo["description"] is defined and todo["description"]|length %}
                                <p class="card-text">
                                    {% set lines = todo["description"].split('\n') %}
                                    {% for line in lines %}
                                        {{ line }} <br>
                                    {% endfor %}
                                </p>
                            {% endif %}
                            {% if todo["tags"]|length %}
                                <div class="bs-component">
                                    {% for tag in todo["tags"] %}
                                        <a href="/todos/tag/{{ tag["id"] }}"><span class="tag tag-todos">{{ tag["tag_name"] }}</span></a>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
