{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block main %}

    <div class="row justify-content-md-center">
        <div class="jumbotron text-center">
            <h1 class="display-4">Organize your life with ToDo50</h1>
            <p class="lead">Use tasks, lists and tags for better performance.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/register" role="button">Get started</a>
            </p>
        </div>
    </div>

{% endblock %}
